@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 1) transparent;
}

body {
  overscroll-behavior: none;
  font-family: var(--font-jetbrains-mono), monospace;
}
